*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.body {
    margin: 0;
   -webkit-font-smoothing: antialiased;
}

/* Page-Section *
**************************************************/
.page-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section__heading {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}

.section__subheading {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    margin-bottom: 16px;
    color: #FED136;
}

/* Container *
**************************************************/
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* Header *
**************************************************/
.header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #070705;
    top: 0;
    left: 0;
    z-index: 12;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__logo {
    margin-left: 12px;
}

.logo-icon{
    height: 32px;
    width: 187px;
}

/* Nav Bar *
**************************************************/
.nav {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav__link {
    text-align: center;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 15px;
    padding: 12px 12px;
    text-decoration: none;
    transition: color .1s;
}

.nav__link:first-child {
    padding-left: 0;
}

.nav__link:hover {
    color: #FED136;
}

.icon {
    display: none;
    text-decoration: none;
    color: #FAFAFA;
    background-color: #FED136;
    border-radius: 4px;
    border-width: 1px;
    padding: 8px 10px;
}

/* Intro *
**************************************************/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 830px;
    padding-top: 100px;
    background: #070705 center no-repeat url("assets/images/tesla-baner.jpg");
    background-size: cover;

}

.intro__subheading {
    color: #FAFAFA;
    font-family: 'Satisfy', cursive;
    opacity: .7;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 36px;
}

.intro__heading {
    color: #FAFAFA;
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 72px;
    text-transform: uppercase;
}

/* Button *
**************************************************/
.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 25px 45px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    cursor: pointer;
    border-radius: 4px;
    border-width: 1px;
    font-weight: bold;

    transition: background-color .1s linear;
}

.btn-top {
    background-color: #FED136;
}

.btn:hover {
    background-color: #FEC404;
}

/* Section__Services *
**************************************************/
.services {

}

.services__row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.services__item {
    width: 33.333%;
    padding: 10px 10px;
}

.services__icons{
    height: 160px;
}

.services__item__heading {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 30px;
}

.services__item__description {
    font-size: 17px;
    color: #6c757d;
}

/* Section__Portfolio *
**************************************************/
#portfolio {
    background-color: #F8F9FA;
}

.portfolio__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8px;
    margin-right: 8px;
}

.image {
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    max-width: 100%;
    height: 254px;
    background-position: center;
    object-fit: cover;
}

.img-plus {
    transition: .5s ease;
    opacity: 0;
    background-color: rgba(254, 209, 54, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.portfolio__img:hover .img-plus {
    opacity: 1;
}

.plus {
    color: white;
    font-size: 90px;
    font-weight: bold;
    height: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.portfolio__item {
    width: 33.33333%;
    padding: 15px 15px;
}

.portfolio__img {
    overflow: hidden;
    cursor: pointer;
    height: 254px;
    position: relative;
}

.portfolio__item__description {
    background-color: #FFFFFF;
    height: 120px;
}

.portfolio__item__header {
    padding: 21px;
}

.portfolio__item__about {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    opacity: 0.7;
}

/* Section__About *
**************************************************/
ul, ol {
    list-style: none;
    padding-left: 0;
}

.about__timeline {
    padding: 0 100px;
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.timeline__row {
    position: relative;
    width: 50%;
    margin-bottom: 40px;
}

.about__timeline::before{
    content: '';
    position: absolute;
    height: 85%;
    width: 2px;
    background-color: #E9ECEF;
    left: 50%;
    top: 10%;
}

.timeline__row:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline__row:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

.timeline__row:nth-child(odd) .content{
    margin-right: 100px;
}

.timeline__row:nth-child(even) .content{
    margin-left: 100px;
}
.timeline::after{
    content: '';
    display: table;
    clear: both;
}

.timeline__row:nth-child(odd)::before{
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #FEC404;
    border-radius: 50%;
    right: -75px;
    top: 50%;
    transform: translate(0%, -50%);
    border: 6px solid #E9ECEF;
}

.timeline__row:nth-child(even)::before{
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #FEC404;
    border-radius: 50%;
    left: -75px;
    top: 50%;
    transform: translate(0%, -50%);
    border: 6px solid #E9ECEF;
}

.timeline__content{
    padding: 80px;
    margin: 25px;
}

.timeline__row:nth-child(5)::before {
   background-image: url("assets/svg/feel-posibilities.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
.timeline__row:nth-child(4)::before {
    background-image: url("assets/svg/savings.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.timeline__row:nth-child(3)::before {
    background-image: url("assets/svg/style.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.timeline__row:nth-child(2)::before {
    background-image: url("assets/svg/autopilot.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6c757d;
    background-position: center ;
}

.timeline__row:nth-child(1)::before {
    background-image: url("assets/svg/greener.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.timeline__content__heading {
    font-size: 25px;
    margin-bottom: 10px;
}

.timeline__content__subheading {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    color: #6c757d;
    opacity: 0.7;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #FED136;
}

.timeline__content__body {
    line-height: 1.5;
    font-size: 17px;
}

/* Section__Contact *
**************************************************/
.contact {
    background: #070705 center no-repeat url("assets/images/contact-baner.png");
    background-size: cover;
    padding-top: 36px;
    padding-bottom: 46px;
    margin-top: 36px;
}

.contact__form{
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
}

.contact__inputs{
    width: 50%;
    padding: 10px 10px;
    display: grid;
    opacity: 0.8;
}

.info{
    font-weight: 400;
    line-height: 54px;
    margin: 10px;
    border: 1px solid #FEC404;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 25px;
}

.btn-bottom{
    background-color: #FED136;
}

/* Footer *
**************************************************/
.footer-container{
    text-align: center;
    align-items: center;
    font-size: 14px;
    margin: 5px 20px;
    height: 65px;
}

.footer__row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.footer__row-item{
    width: 33.333%;
    padding-top: 13px;
}

.social-icons{
    height: 38px;
    width:38px;
}

.policy {
    text-decoration: none;
    color: #FED136;
}

.policy:first-child {
   margin-right: 13px;
}

.policy:hover {
    color: #EECE00;
    border-bottom: 1px #EECE00 solid;
    cursor: pointer;
}

.btn-social {
    margin-right: 13px;
    text-decoration: none;
}

/* Media *
**************************************************/
@media (max-width: 1175px) {
/* Section__Contact (max-width: 1175px) *
**************************************************/
    .contact__form{
        max-width: 850px;
    }

@media (max-width: 1025px) {
/* Header__media (max-width: 1025px)*
*******************************/
    .nav__link {
        display: none;
    }
    .icon {
        display: block;
        margin-right: 55px;
    }
    .logo-icon{
        margin-left: 45px;
    }


/* Intro__media (max-width: 1025px)*
*******************************/
    .intro__heading {
        font-size: 50px;
    }
    .intro__subheading {
        font-size: 25px;
    }

/* Portfolio__media (max-width: 1025px)*
*******************************/
    .portfolio__row{
        margin-left: 30px;
        margin-right: 30px;
        justify-content: center;
    }
    .portfolio__item {
        width: 50%;
        padding: 8px 10px;
        max-width: 370px;
    }

/* About__media (max-width: 1025px)*
*******************************/
    .about__timeline {
        padding: 0;
    }
    .about__timeline:before{
        top: 10%;
    }

    .timeline__row:nth-child(odd)::before {
        height: 120px;
        width: 120px;
        right: -60px;
    }

    .timeline__row:nth-child(even)::before {
        height: 120px;
        width: 120px;
        left: -60px;
    }

    .timeline__row{
        margin-bottom: 15px;
    }

    .timeline__content {
        padding: 15px 50px;
        margin: 15px 25px;
    }
/* Section__Contact (max-width: 1025px) *
**************************************************/
    .contact__form{
        max-width: 850px;
    }

@media (max-width: 850px) {
 /* Section__Contact (max-width: 850px) *
 *************************************************/
     .contact__form{
        max-width: 700px;
     }

@media (max-width: 750px) {
    .main{
        margin: 0;
    }

    .section__heading{
        font-size: 42px;
    }

    .section__subheading {
        margin-bottom: 20px;
        font-size: 18px;
    }
/* Header__media (max-width: 750px) *
*******************************/
    .icon {
        font-size: 12px;
        margin-right: 10px;
    }
    .logo-icon{
        margin-left: 5px;
    }

/* Intro__media (max-width: 750px) *
*******************************/
    .intro {
        height: auto;
        padding-top: 150px;
        padding-bottom: 70px;
    }
    .intro__heading {
        font-size: 35px;
    }
    .intro__subheading {
        font-size: 15px;
    }

/* Services_media (max-width: 750px) *
*******************************/
    #services {
        padding-top: 46px;
    }
    .services__item {
        width: 100%;
        margin: 0 82px;
    }
    .services__row {
        margin-top: 20px;
    }

/* Portfolio__media (max-width: 750px) *
*******************************/
    .portfolio__row{
        margin-left: 35px;
        margin-right: 35px;
    }
    .portfolio__item {
        max-width: 300px;
    }

/* About__media (max-width: 750px) *
*******************************/
    #about{
        padding-top: 46px;
        padding-bottom: 5px;
    }
    .about__timeline:before{
        left: 16%;
        top: 12%;
    }
    .timeline__content__body{
        font-size: 14px;
    }

    .timeline__row:nth-child(odd){
        float: right;
        text-align: left;
    }
    .timeline__row{
        width: 80%;
    }
    .timeline__row:nth-child(odd)::before{
        height: 100px;
        width: 100px;
        left: -80px;
    }
    .timeline__row:nth-child(even)::before{
        height: 100px;
        width: 100px;
        left: -80px;
    }

/* Section__Contact (max-width: 750px) *
**************************************************/
    #contact{
        padding-top: 14px;
        padding-bottom:25px;
        margin-top: 56px;
    }
    .contact__form{
        max-width: 600px;
    }
    .contact__inputs{
        width: 100%;
    }

/* Footer (max-width: 750px) *
**************************************************/
    .footer__row-item{
        width: 100%;
    }
    .policy{
        padding-bottom: 15px;
    }

@media (max-width: 650px) {
/* Portfolio__media (max-width: 650px) *
*******************************/
    .portfolio__item{
        width: 100%;
        max-width: 400px;
    }

/* About__media (max-width: 650px) *
*******************************/
    #about{
        padding-top: 34px;
        padding-bottom: 5px;
    }
    .about__timeline:before{
        left: 20%;
        top: 12%
    }
    .timeline__row:nth-child(odd)::before{
        left: -50px;
    }
    .timeline__row:nth-child(even)::before{
        left: -50px;
    }
    .timeline__row{
        margin-bottom: 10px;
    }

@media (max-width: 600px) {
/* Section__Contact (max-width: 600px) *
**************************************************/
    #contact{
        padding-top: 14px;
        padding-bottom:25px;
        margin-top: 56px;
    }
    .contact__form{
        max-width: 450px;
    }

@media (max-width: 450px){
    .timeline__content__body{
        font-size: 12px;
    }

    @media (max-width: 350px) {
        .btn {
            padding: 15px 18px;
            font-size: 12px;
        }

        .services__icons {
            height: 130px;
        }

        .info {
            line-height: 24px;
            font-size: 14px;
            padding: 8px 10px;
        }

        .contact__form {
            max-width: 250px;

        }
    }